@charset "utf-8";

.todo-list {
  margin: 0;
  padding: 0;
}
.todo-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 5px;
}
.check-box {
  color: var(--primary-color);
  position: relative;
  height: 24px;
  padding: 12px;
  cursor: pointer;
}
.check-box input {
  opacity: 0;
  position: absolute;
  left: 0;
}
.color-label {
  display: inline-block;
  height: 18px;
  width: 24px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #fff;
}
.todo-text {
  flex: 1 1 auto;
  font-size: 17px;
  padding: 5px;
  white-space: pre-wrap;
}
.todo-text.completed {
  text-decoration-line: line-through;
}
.deadline-icon {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}
.deadline-date {
  font-size: small;
  padding: 5px;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}