@charset "utf-8";
.todo-form {
  padding: 5px;
}
.todo-input {
  border: 2px solid #ddd;
  border-radius: 0.5em;
  font-size: 17px;
  line-height: 1;
  outline: 0;
  padding: 0.5em;
}
.todo-input:focus {
  border-color: #ccc;
}
.add-button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.5em;
  color: white;
  font-size: 17px;
  line-height: 1;
  margin-left: 5px;
  padding: 0.5em 1em;
}
.add-button:disabled {
  opacity: 0.5;
}